:root {
  --whole-bg: #edeff2;
  --container-bg: #f1f1f1;
  --white: #ffffff;
  --orange: #fdbf68;
  --hovered-orange: #f7b151;
  --green: #a3d063;
  --hovered-green: #93c053;
  --pink: #fde7e2;
  --hovered-pink: #f5d9d2;
  --header-content: #bcbdc0;
  --author-avatar: #f5886e;
  --user-profile: #fdbf68;
  --author-text-bg: #ffe6cb;
  --author-text: #c48861;
  --user-text-bg: #c7eafc;
  --user-text: #7c82b4;
  --footer-bg: #fffff1;
  --button-color: #a3d063;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
  background: var(--whole-bg);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--container-bg);
  width: calc(100% - 20px);
  max-width: 852px;
  height: 70vh;
  border-radius: 13px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 1.5fr;
  overflow: hidden;
}

header {
  width: 100%;
  padding: 18px;
  background-color: var(--white);
  box-shadow: 0 1px 36px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.top-buttons {
  display: flex;
  position: absolute;
  left: 1.6%;
}

header .dots {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 3.86px;
}
.dots:hover {
  cursor: pointer;
}

.orange-dot {
  background-color: var(--orange);
}
.orange-dot:hover {
  background-color: var(--hovered-orange);
}

.green-dot {
  background-color: var(--green);
}
.green-dot:hover {
  background-color: var(--hovered-green);
}

.pink-dot {
  background-color: var(--pink);
}
.pink-dot:hover {
  background-color: var(--hovered-pink);
}

header > h3 {
  font-size: 2rem;
  color: var(--header-content);
  font-weight: 400;
}

main {
  width: 100%;
  padding: 20px 10px 0 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow-y: scroll;
}

main .chat-line-component {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-line-component .profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--author-avatar);
}

.user-chat-line {
  flex-direction: row-reverse;
}

.user-chat-line .profile {
  background-color: var(--user-profile);
  margin-left: 12px;
}

.chat-line-component .chat-content {
  padding: 20px;
  width: calc(100% - 72px);
  min-width: 120px;
  margin-left: 12px;
  border-radius: 8px;
  background-color: var(--author-text-bg);
  color: var(--author-text);
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  overflow-wrap: normal;
}

.chat-line-component:last-child {
  margin-bottom: 20px;
}

.user-chat-line .chat-content {
  background-color: var(--user-text-bg);
  color: var(--user-text);
}

.user-chat-line .chat-content {
  margin-left: 0;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: var(--footer-bg);
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 50px;
  column-gap: 26px;
}

footer input {
  border: 1px solid #bcbdc0;
  border-radius: 1000px;
  padding: 0 20px;
  outline: 0;
  color: gray;
}

footer button {
  border: none;
  border-radius: 1000px;
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  outline: 0;
  font-size: 1.64rem;
  transition: all 0.2s linear;
}

footer button:hover {
  background-color: var(--white);
  font-weight: 700;
  color: var(--button-color);
}
